.firstBanner {
  height: 45rem;
  width: 100%;
  background-image: linear-gradient(
      rgba(38, 80, 114, 0.8),
      rgba(38, 80, 114, 0.8)
    ),
    url("../images/firstBanner.jpg");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  h2 {
    max-width: 120rem;
    padding: 0 1rem;
    font-weight: 300;
    color: $third-color;
    margin: auto;
    text-align: center;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.sectionPres {
  padding-bottom: 4rem;
  h1,
  h4 {
    color: $main-color;
  }
  h1 {
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-family: "Roboto Condensed", sans-serif;
  }
  h4 {
    font-weight: normal;
    margin-bottom: 3rem;
  }
}
.containerSection {
  max-width: 120rem;
  padding: 1rem;
}
.divTextPres {
  padding: 3rem;
  p {
    margin-bottom: 3rem;
    color: $color-text;
    text-align: justify;
    line-height: 3rem;
  }
}
.buttonReser {
  padding: 1.5rem 3rem;
  background-color: $fourth-color;
  border-radius: 4px;
  color: $third-color;
  margin: 1rem;
  display: inline-block;
}
.sectionServ {
  background: $second-background;
  color: $third-color;
  padding-top: 5rem;
  h3,
  h4 {
    margin-bottom: 2rem;
  }
  h4 {
    font-weight: normal;
  }
}
.containerServ {
  display: flex;
  flex: 1;
}
.partServ {
  padding: 2rem 0;
  img {
    margin-bottom: 2rem;
  }
}
.textServ {
  padding: 3rem;
  line-height: 3rem;
}
.divDetail {
  display: flex;
  margin: 5rem 0;
}
.imageDetail {
  padding: 1rem;
  flex: 1 1 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.textDetail {
  padding: 1rem;
  flex: 1 1 50%;
  align-self: center;

  h5 {
    color: $main-color;
    margin-top: 1rem;
  }
  p {
    color: $color-text;
    padding: 2rem;
  }
  ul {
    padding: 3rem;
    text-align: left;
  }
  li {
    display: flex;
    align-items: center;
    color: $main-color;
    font-size: $header5;
    line-height: 4.5rem;
    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }
  }
}
.line {
  display: block;
  width: 30%;
  margin: 1rem auto;
  height: 2px;
  background: $fourth-color;
}
.sectionDetailSecond {
  background: #f7f7f6;
}
