$header1: 4.3rem;
$header2: 3.4rem;
$header3: 3rem;
$header4: 2.4rem;
$header5: 2rem;
$main-text: 1.8rem;
$second-text: 1.6rem;
$color-text: #7a7a7a;
$main-color: #444444;
$second-color: #120509;
$third-color: #fff;
$fourth-color: #265072;

@import "global";
@import "header";
@import "main";
@import "footer";

@media screen and (max-width: 750px) {
  li,
  button,
  label,
  input,
  a,
  span,
  p {
    font-size: calc($main-text - 0.2rem);
  }
  h1 {
    font-size: calc($header1 - 0.2rem);
  }
  h2 {
    font-size: calc($header2 - 0.2rem);
  }
  h3 {
    font-size: calc($header3 - 0.2rem);
  }
  h3 {
    font-size: calc($header4 - 0.2rem);
  }
  h5 {
    font-size: calc($header5 - 0.2rem);
  }

  header {
    flex-direction: column;
  }
  .divLogo {
    img {
      margin-left: 0;
    }
  }
  .divText {
    h3 {
      padding: 1.5rem 1rem;
    }
  }
}
